.backgroundall {
  background-color: #f0f0f0;
}

#hero {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  
}
.card {
  background-color: #dadada;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}
